# ==============================
# Python Virtual Environment
# ==============================
.venv/
**/venv/
vevn/
**/vevn/

# ==============================
# Environment Variables
# ==============================
.env
.env.*
*.env

# ==============================
# Python Cache
# ==============================
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# ==============================
# IDE / Editor
# ==============================
.vscode/
**/.vscode/
.idea/
**/.idea/

# ==============================
# Temporary / Test Files
# ==============================
*temp*
tempCodeRunnerFile.py

# ==============================
# OS Generated
# ==============================
.DS_Store
Thumbs.db
